<!DOCTYPE html>
<html>

  <head> 
    <title> <%= @title %> </title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
        
    <div class="container">
      
      <div class="hero-unit">
        <h1>Content to be filled out</h1>
        <%= yield %>
      </div>

    </div>

    <%= render 'layouts/footer' %>

  </body>

</html>

